<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.acmetensortoys.ctfwstimer">

    <!-- Required for Paho MQTT client -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- <uses-permission android:name="android.permission.BLUETOOTH" /> -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_shield_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <!-- The metrics database is four megabytes; for that sin alone... -->
        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true" />

        <activity android:name=".activity.main.Activity"
            android:exported="true"
            android:showWhenLocked="true"
            android:showForAllUsers="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.AboutActivity"
            android:showWhenLocked="true"
            android:showForAllUsers="true" />

        <activity android:name=".activity.SettingsActivity" />

        <activity
            android:name=".activity.HandbookActivity"
            android:icon="@mipmap/ic_shield_1"
            android:label="@string/app_name_hand"
            android:showWhenLocked="true"
            android:showForAllUsers="true">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <service
            android:name=".service.MainService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            />

        <service android:name="org.eclipse.paho.android.service.MqttService" />

    </application>

</manifest>
